@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);
*{box-sizing:border-box;}

body{
  font-family: 'Bubblegum Sans', cursive;
  background-image:url(http://i.stack.imgur.com/MtKUX.jpg);
}

h1{
  text-align:center;
}

.wrap{
  margin:0 auto;
  width:310px;
  height:310px;
  background-color:grey;   
}
.tile{
  background-color:black; 
  height:100px;
  width:100px;
  display:inline-block;
  vertical-align:top;
  margin-bottom:1px;
  margin-left:1px;
  margin-right:1px;
  margin-top: 1px;
  
  text-align:center;
  font-size:2em;
  color: white;
} 

.footer{
  margin: 0 auto;   
  width:310px; 
}